absl-py==2.2.0
adagio==0.2.6
albucore==0.0.24
albumentations==2.0.6
altair==5.5.0
annotated-types==0.7.0
appdirs==1.4.4
ask-sdk-core==1.19.0
ask-sdk-model==1.82.0
ask-sdk-runtime==1.19.0
asttokens==2.4.1
astunparse==1.6.3
attrs==25.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.34.133
botocore==1.34.133
cachetools==5.5.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.2.0
cloudpickle==3.0.0
cmdstanpy==1.2.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.10
contourpy==1.2.1
coreforecast==0.0.12
customtkinter==5.2.2
cv2_enumerate_cameras==1.1.15
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
dynamodb==1.0.0
easydict==1.13
easyocr==1.7.2
et-xmlfile==1.1.0
executing==2.0.1
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.53.0
fpdf2==2.8.3
frozendict==2.4.5
fs==2.4.16
fsspec==2024.9.0
fugue==0.9.1
future==1.0.0
gast==0.6.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
holidays==0.57
html5lib==1.1
humanfriendly==10.0
idna==3.10
imageio==2.36.1
importlib_resources==6.4.5
insightface==0.7.3
ipykernel==6.29.4
ipython==8.25.0
jedi==0.19.1
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.2
jupyter_core==5.7.2
keras==3.9.0
kiwisolver==1.4.5
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.43.0
lxml==5.2.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
msvc_runtime==14.40.33807
multitasking==0.0.11
namex==0.0.8
narwhals==1.39.1
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.3
numba==0.60.0
numpy==1.26.4
onnx==1.16.0
onnxruntime-gpu==1.17.0
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opennsfw2==0.10.2
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.14.1
packaging==24.1
pandas==2.2.2
parso==0.8.4
patsy==0.5.6
peewee==3.17.6
pillow==11.1.0
platformdirs==4.2.2
pmdarima==2.0.4
prettytable==3.16.0
prompt_toolkit==3.0.47
prophet==1.1.5
protobuf==4.23.2
psutil==5.9.8
pure-eval==0.2.2
pyarrow==17.0.0
pyclipper==1.3.0.post6
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
Pygments==2.18.0
pygrabber==0.2
pyparsing==3.1.2
PyPDF2==3.0.1
pyreadline3==3.5.4
PySocks==1.7.1
pytesseract==0.3.13
python-bidi==0.6.3
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==306
PyYAML==6.0.2
pyzmq==26.0.3
referencing==0.36.2
requests==2.32.3
rich==13.9.4
rpds-py==0.25.0
s3transfer==0.10.2
scikit-image==0.25.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
setuptools==75.1.0
shapely==2.0.6
simsimd==6.2.1
six==1.16.0
smmap==5.0.2
soupsieve==2.6
stack-data==0.6.3
stanio==0.5.1
statsforecast==1.7.8
statsmodels==0.14.2
streamlit==1.45.1
stringzilla==3.12.5
sympy==1.13.1
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0
tesseract==0.1.3
threadpoolctl==3.5.0
tifffile==2024.12.12
tk==0.1.0
toml==0.10.2
torch==2.5.1+cu118
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
triad==0.9.8
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
utilsforecast==0.2.5
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
xgboost==2.1.1
xlrd==2.0.1
yfinance==0.2.43
